.dateStyle {
    color: #000;
    font-weight: bold;
    font-size: 15px;
    font-family: "Open sans", Arial, sans-serif;
    margin: 0;
}
ul.list-artikel{
    margin-left: 16px;
    list-style:none;
}
ul.list-artikel li:before {
    content:  "\f073";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
}

.dayStyle {
    color: #000;
    font-family: 'Merriweather','Georgia',Serif;
    display: inline-block;
    margin: 0 0 0 -46px;
    position: absolute;
}
