/**
 * Style untuk komentar
 */
#comments2 {
    clear: both;
    padding: 10px 0;
    margin-top: 0;
    font-family: "Open sans", Arial, sans-serif
}

#comments2 h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #666;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd
}

#comment_block {
    padding-top: 25px
}

.comment_header {
    margin-left: 5px
}

.comment_avatar {
    height: 48px;
    width: 48px;
    background: url(//2.bp.blogspot.com/-KjVxDap0Bzs/Uc7Jfm_9VWI/AAAAAAAAEqs/jD56hYNIm88/s48/anon48.gif) center center no-repeat #F0F0F0;
    float: left;
    margin-top: -1px;
    margin-right: 10px;
    margin-left: -5px;
    overflow: hidden;
    border-radius: 3px
}

.comment_admin .comment_author_flag, .comment_reply, a.comment-delete {
    border-radius: 3px;
    text-decoration: none
}

.comment_name {
    line-height: 19.5px;
    display: inline-block;
    text-decoration: none;
    position: relative;
    margin-top: -3px
}

.comment_name a {
    text-decoration: none;
    font-weight: 500
}

.comment_name a:hover {
    color: #0088b2;
    text-decoration: none
}

.comment_service {
    margin-right: 10px;
    margin-top: 2px;
    position: relative;
    line-height: 1em
}

.comment_body p {
    font-size: 16px;
    color: #444;
    line-height: 1.3em;
    font-weight: 300;
    margin: 5px 0
}

.comment_body p img {
    vertical-align: middle
}

.comment_body {
    margin: -12px 0 10px 47px;
    padding: 0 10px 10px;
    position: relative;
    z-index: 1
}

.comment_date {
    color: #999;
    font-style: italic;
    font-size: 11px;
    line-height: 1.2em;
    cursor: pointer;
    font-weight: 400;
    margin-right: 20px
}

.comment-set {
    margin-bottom: 30px
}

.comment_child .comment_body {
    margin-top: -5px;
    margin-bottom: 10px;
    margin-left: 39px
}

.comment_child .comment_wrap {
    padding-left: 50px
}

.comment_reply {
    cursor: pointer;
    color: #f1f1f1!important;
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
    margin-right: 10px;
    padding: 3px 5px;
    float: left;
    background: #666
}

.comment_reply:hover, a.comment-delete:hover {
    text-decoration: none;
    background: #888!important
}

.unneeded-paging-control {
    display: none
}

.comment_reply_form {
    padding: 0 0 0 48px
}

.comment_reply_form .comment-form {
    width: 100%
}

.comment_reply, .comment_service a {
    display: inline-block
}

.comment_avatar * {
    max-width: 1000%!important;
    display: block;
    max-height: 1000%!important;
    width: 48px!important;
    height: 48px!important;
    margin-right: 10px
}

.comment-form, .comment_img, .comment_youtube {
    max-width: 100%!important
}

.comment_child .comment_avatar, .comment_child .comment_avatar * {
    width: 40px!important;
    height: 40px!important;
    float: left;
    margin-right: 10px
}

.comment_form {
    margin-top: -20px
}

.comment_form a {
    color: #444;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700
}

.comment_form a:hover {
    color: #fff
}

.comment_author_flag {
    display: none
}

.comment_admin .comment_author_flag {
    background-color: rgba(34, 59, 74, .3);
    display: inline-block;
    color: #fff;
    font-family: arial;
    font-size: 10px;
    font-weight: 700;
    padding: 2px 5px;
    line-height: 1em;
    position: absolute;
    top: 2px;
    right: -51px
}

a.comment-delete {
    color: #f1f1f1!important;
    font-size: 12px;
    font-weight: 500;
    margin: 5px 0 0;
    padding: 3px 5px;
    float: left;
    background: #666
}

#comment-editor {
    width: 100%!important;
    background: url(data:image/gif;base64,R0lGODlhKwALAPAAAKrD2AAAACH5BAEKAAEAIf4VTWFkZSBieSBBamF4TG9hZC5pbmZvACH/C05FVFNDQVBFMi4wAwEAAAAsAAAAACsACwAAAjIMjhjLltnYg/PFChveVvPLheA2hlhZoWYnfd6avqcMZy1J14fKLvrEs/k+uCAgMkwVAAAh+QQBCgACACwAAAAAKwALAIFPg6+qw9gAAAAAAAACPRSOKMsSD2FjsZqEwax885hh3veMZJiYn8qhSkNKcBy4B2vNsa3pJA6yAWUUGm9Y8n2Oyk7T4posYlLHrwAAIfkEAQoAAgAsAAAAACsACwCBT4OvqsPYAAAAAAAAAj1UjijLAg9hY6maalvcb+IPBhO3eeF5jKTUoKi6AqYLwutMYzaJ58nO6flSmpisNcwwjEfK6fKZLGJSqK4AACH5BAEKAAIALAAAAAArAAsAgU+Dr6rD2AAAAAAAAAJAVI4oy5bZGJiUugcbfrH6uWVMqDSfRx5RGnQnxa6p+wKxNpu1nY/9suORZENd7eYrSnbIRVMQvGAizhAV+hIUAAA7) 50% 30% no-repeat #fff;
    margin-top: 10px;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.blogger-box, .comment-form p, .disqus-box, .facebook-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.comment-form {
    margin-top: 25px!important
}

.comment_emo_list .item {
    float: left;
    text-align: center;
    height: 40px;
    width: 41px;
    margin: 10px 0 0
}

.comment_emo_list span {
    display: block;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 1px;
    color: #444
}

.comment_youtube {
    width: 400px;
    height: 225px;
    display: block;
    margin: auto
}

.comment-form p {
    background: #666;
    padding: 10px 10px 5px;
    margin: 5px 0;
    color: #eee;
    font-weight: 300;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    line-height: 1.3em;
    width: 100%;
    border-radius: 3px;
    position: relative;
    box-sizing: border-box
}

.comment-form p:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -15px;
    left: 15px;
    border: 8px solid transparent;
    border-color: #666 transparent transparent
}

.deleted-comment {
    display: block;
    color: #efefef;
    font: italic 13px Arial;
    margin-top: -10px;
    background: #DB6161;
    padding: 10px
}

.blogger-bar, .comment-text, .disqus-bar, .facebook-bar {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 500;
    color: #555
}

iframe.blogger-iframe-colorize {
    max-height: 250px
}

.small-button a {
    color: #f1f1f1!important
}

.small-button a:hover {
    color: #fff!important
}

.blogger-bar, .disqus-bar, .facebook-bar {
    display: inline;
    float: right;
    padding: 5px 10px;
    cursor: pointer;
    background: #eee
}

.blogger-bar, .disqus-bar {
    margin-left: 5px;
    margin-top: 20px;
    border-radius: 3px 3px 0 0;
    border: 1px solid #ddd;
    border-bottom: none
}

.facebook-bar {
    margin: 20px 20px 0 5px;
    border-radius: 3px 3px 0 0;
    border: 1px solid #ddd;
    border-bottom: none
}

.blogger-box, .disqus-box, .facebook-box {
    width: 100%;
    padding: 0;
    border-top: 1px solid #ddd;
    box-sizing: border-box
}

.blogger-box, .facebook-box {
    display: none
}

.fb-comments, .fb_iframe_widget iframe, .fb_iframe_widget span {
    width: 100%!important
}

.fb-comments {
    padding: 0!important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.btncurrent {
    padding: 5px 10px 6px;
    margin-bottom: -1px;
    background: #fff
}

.comment-text {
    display: inline;
    float: left;
    padding: 5px 10px 5px 0;
    margin-top: 20px
}

.comment-text:after {
    content: '\f061';
    font-family: FontAwesome;
    color: #555;
    margin-left: 5px
}
